.table-month-container {
    width: 100%;
    min-width: 800px;
    border: 1px solid #aaa;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.td-day-header-container {
    padding: 1px;
    width: 14%;
    vertical-align: top;
}
.td-day-container {
    width: 14%;
}

.td-header-event-container {
    padding: 1px;
    width: 14%;
    text-align: center;
}

.hour-slice-legend {
    border-bottom: 1px solid #c0c0c0;
}

.td-inner-week-slice {
    width: 14%;
    border-bottom: 1px solid #c0c0c0;
}

.calendar-day-container {
    margin: 0px;
    border-left: 1px solid #a0a0a0;
}
.calendar-day-header {
    border: 1px solid #a0a0a0;
    margin: 0px;
    background-color: #7785aa;
    color: #fff;
    height: 25px;
    border: 0px;
    text-align: center;
}

.calendar-day-header-container {
    min-height: 25px;
}

.calendar-hours-container {
    margin: 0px;
    font-size: 8px;
}
.calendar-navigation-wrapper {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.calendar-navigation-left {
    float: left;
}
.calendar-nagivation-right {
    float: right;
}

.calendar-month-year {
    float: left;
    font-size: 28px;
    padding: 0px 0px 0px 25px;
}

.today {
    border: 1px solid #606060;
    background-color: #aaccf5;
}
.highlight-day {
    border: 1px solid mediumpurple;
}
.highlight-today {
    border: 1px solid mediumpurple;
    background-color: #aaccf5;
}
.day-number {
    height: 16px;
    width: 20px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    color: #060626;
}
.day-number-not-in-month {
    height: 20px;
    width: 20px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    color: #c9c9c9;
}

.event-same-day {
    width: 98%;
    min-height: 20px;
    padding: 2px;
    margin: 2px;
}

.event-all-day {
    min-height: 20px;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid #7785AA;
    background-color: #D4D9E6;
    text-decoration: none;
}