.table-month-container {
    width: 100%;
    min-width: 900px;
    border: 1px solid #aaa;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.td-day-header-container {
    padding: 1px;
    width: 14%;
    vertical-align: top;
}
.td-month-day-container {
    width: 14%;
    border: 1px solid #a0a0a0;
}
.td-week-day-container {
    width: 14%;
}

.td-header-event-container {
    padding: 1px;
    width: 14%;
    text-align: center;
}

.hour-slice-legend {
    border-bottom: 1px solid #c0c0c0;
    padding-left: 2px;
    color: #808080;
}

.td-inner-week-slice-1 {
    width: 14%;
    border-bottom: 1px solid #f0f0f0;
}
.td-inner-week-slice-2 {
    width: 14%;
    border-bottom: 1px solid #c0c0c0;
}

.calendar-day-container {
    margin: 0px;
    /*border-left: 1px solid #a0a0a0;*/
}
.week-calendar-day-container {
    margin: 0px;
    border-left: 1px solid #a0a0a0;
}
.calendar-day-header {
    border: 1px solid #a0a0a0;
    margin: 0px;
    background-color: #7785aa;
    color: #fff;
    height: 25px;
    border: 0px;
    text-align: center;
}

.calendar-day-header-container {
    min-height: 25px;
}

.calendar-hours-container {
    margin: 0px;
    font-size: 8px;
}
.calendar-navigation-wrapper {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.calendar-navigation-left {
    float: left;
}
.calendar-navigation-right {
    float: right;
    margin-right: 10px;
}

.calendar-month-year {
    float: left;
    font-size: 28px;
    padding: 0px 0px 0px 25px;
}

.today {
    background-color: #F2F5F9;
}
.highlight-day {
    border: 1px solid mediumpurple;
}
.highlight-today {
    border: 1px solid mediumpurple;
    background-color: #aaccf5;
}
.day-number {
    height: 16px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    color: #060626;
}
.day-number-not-in-month {
    height: 20px;
    width: 20px;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    color: #c9c9c9;
}

.event-same-day {
    width: 98%;
    min-height: 20px;
    padding: 2px;
    margin: 2px;
}

.event-all-day {
    min-height: 20px;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid #7785AA;
    background-color: #D4D9E6;
    text-decoration: none;
}

/* Styling for event containers within weekly columns */
.event-container-outer {
    position: relative;
}
.event-container {
    position: absolute;
    width: 99%;
    margin-left: 1px;
    padding: 2px;
    background-color: lightblue;
    border: 1px solid #707070;
}
.event-container-time {

}
.event-container-description {

}
